/*@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');*/

/*:root {
	--coral: #fc7168;
	--white: #feffff;
	--black: #454545;
	--grey: #d8d8d8;
	--blue: #007fff;
	--golden: #f8b94d;
}*/

/*html,
body,
#root {
	height: 100%;
}*/

body {
	margin: 0;
	font-family: Lucida Grande, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: var(--coral);
	color: var(--white);
}
.fz-12 {
	font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title-font {
	font-family: 'Fredoka One', sans-serif;
}
.h-100vh {
	height: 100vh;
}
#modal-root {
	position: relative;
	z-index: 999;
}
.modal-window {
	display: flex;
}
.my-modal-window {
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	overflow: scroll;
	/*	display: flex;
	align-items: center;
	justify-content: center;*/
}
.my-modal-window > .modal {
	display: block;
}
.loader {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
.ladda-button {
	-webkit-font-smoothing: unset;
	background: transparent;
	border: 1px solid var(--white);
	/*width: 200px;*/
	height: 30px;
	color: var(--white);
	/*font-size: 12px;*/
	/*outline: none;*/
	text-transform: uppercase;
	transition: none !important;
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-o-transition: color 0 ease-in;
	padding: 4px 10px !important;
}
.ladda-button[disabled],
.ladda-button[data-loading] {
	/*background-color: #4a83fa !important;*/
	background-color: var(--white) !important;
	color: var(--coral) !important;
}
.ladda-button:hover {
	color: var(--coral) !important;
	background-color: var(--white) !important;
}
.custom-input input {
	text-align: center;
}

/*.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}*/
/*header {
	position: relative;
}*/
/*header div:last-child {
	position: absolute;
	right: 0;
	top: 0;
}*/
/*.content {
	flex: 1 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}*/
/*.logo {
	position: absolute;
	top: 0;
	left: 0;
	background: var(--white);
	color: var(--coral);
	font-family: 'Fredoka One', cursive;
	text-align: center;
	width: 200px;
	height: 100px;
}*/
/*.footer {
	flex: 0 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}*/
/*.copyright {
	position: absolute;
	left: 0;
}*/
.welcome-block {
	border: 4px solid var(--white);
	padding: 10px 30px 20px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	height: 320px;
}
.welcome-block .title {
	background: var(--white);
	color: var(--coral);
	text-transform: uppercase;
	font-family: 'Fredoka One', cursive;
	text-align: center;
	width: 120px;
}
/* react select */
/*.react-select-container {
	min-width: 90px;
}*/
.left-asterisk:before {
	content: '*';
	position: absolute;
	width: 0;
	height: 0;
	display: block;
	left: -16px;
	top: 3px;
}
.image-container {
	border: 1px solid var(--black);
	width: 280px;
	height: 350px;
	padding: 5px;
	position: relative;
}
.image-container img {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	max-height: 100%;
	max-width: 100%;
	display: block;
	margin: auto;
}
.country-region-select {
	width: 140px;
	color: var(--white);
	cursor: pointer;
	border: none;
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' height='20' width='20' viewBox='0 0 20 20' aria-hidden='true' focusable='false' class='css-6q0nyr-Svg'%3E%3Cpath d='M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z'%3E%3C/path%3E%3C/svg%3E")
		no-repeat right;
}
.country-region-select option {
	width: 140px;
	color: var(--white);
	cursor: pointer;
	border: none;
}
select {
	-moz-appearance: none; /* Firefox */
	-webkit-appearance: none; /* Safari and Chrome */
	appearance: none;
	/*padding: 5px;*/
	/*line-height: 1;*/
	height: 24px;
	background-position-x: 244px;
	padding: 0 30px 0 10px !important;
	-webkit-padding-end: 20px !important;
	-webkit-padding-start: 3px !important;
}
.captcha {
	border: 1px solid white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 15px 0;
	/*background-color: var(--white);*/
}
.infinite-loader {
	position: absolute;
	bottom: 0;
	left: 0;
}

.carousel {
	perspective: 300px;
	perspective-origin: 50% 10%;
	height: 500px;
	width: 100%;
}
.carousel-tile {
	position: absolute;
	left: calc(50% - 230px);
	cursor: pointer;
	display: inline-block;
	width: 460px;
	height: 500px;
	transition: all 0.3s linear;

	/*border: 1px solid var(--black);
	width: 280px;
	height: 350px;
	padding: 5px;
	position: relative;*/
}
.carousel-tile .image-container {
	width: 100%;
	height: 100%;
}
.carousel-tile:hover {
	opacity: 1;
}
.carousel-tile img {
	/*border: 3px #61dafb solid;*/
	/*margin: 0;*/
	/*padding: 0;*/
	/*float: left;*/

	/*position: absolute;*/
	/*	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	max-height: 100%;
	max-width: 100%;
	display: block;
	margin: auto;*/
}
[data-position='0'] {
	/*transform: translate3d(0, 10px, 0);*/
	z-index: 5;
}
[data-position='0'] p {
	bottom: -80px;
	min-width: 306px;
	border-radius: 5px;
}
[data-position='1'] {
	transform: translate3d(800px, 200px, -300px);
	opacity: 0.8;
	z-index: 4;
}
[data-position='-1'] {
	transform: translate3d(-800px, 200px, -300px);
	opacity: 0.8;
	z-index: 4;
}
/*[data-position='2'] {
	transform: translate3d(1000px, 100px, -400px);
	opacity: 0.7;
	z-index: 3;
}
[data-position='-2'] {
	transform: translate3d(-1000px, 100px, -400px);
	opacity: 0.7;
	z-index: 3;
}
[data-position='3'] {
	transform: translate3d(1500px, 50px, -500px);
	opacity: 0.6;
	z-index: 2;
}
[data-position='-3'] {
	transform: translate3d(-1500px, 50px, -500px);
	opacity: 0.6;
	z-index: 2;
}
[data-position='4'] {
	transform: translate3d(2000px, 0, -600px);
	opacity: 0.5;
	z-index: 1;
}
[data-position='-4'] {
	transform: translate3d(-2000px, 0, -600px);
	opacity: 0.5;
	z-index: 1;
}*/
[data-position='n'] {
	transform: translate3d(3000px, 0, -600px);
	opacity: 0;
	z-index: 1;
}
[data-position='-n'] {
	transform: translate3d(-3000px, 0, -600px);
	opacity: 0;
	z-index: 1;
}
.is-main-photo {
	position: absolute;
	bottom: -30px;
}
